{% extends "maqueta.html" %}
{% block Perris %}
{% load staticfiles %}

<h1> Veterinaria Mis Perris </h1>
<p> Somos la Veterinaria mis perris especializada en el rescate y adpcion de los perros y gatos quienes necesitas de un hogar </p>
<br>
<br>

<p> El veterinario es el profesional que se ocupa de prevenir, diagnosticar y curar en forma clínica o quirúrgicamente, las patologías que afectan a los animales. Es “su médico”. La palabra veterinario nos remite al vocablo latino “veterinarius” aludiendo a quien trata afecciones de los animales de carga.</p>
{% block Galeria%}
{% endblock%}
<!-- pequeña informacion de la pagina-->

{% endblock %}